
   <footer class="footer">
	   <div class="floater">
			<p class="footer-left">
					<a href="#">Home</a>
					·
					<a href="https://www.instagram.com/bulme_memes/">Instagram</a>
					·
					<a href="#">Preise</a>
					·
					<a href="#">Über</a>
					·
					<a href="#">Kontakt</a>	
				</p>
				<p class="special">bulme_memes &copy; 2018</p>
	   </div>
			
	</footer>
        <script type="text/javascript" src="/lib/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/javascript/main.js"></script>
    </body>
</html>
