   <footer class="footer">
			<div class="footer-content">
				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Instagram</a>
					·
					<a href="#">Preise</a>
					·
					<a href="#">Über</a>
					·
					<a href="#">Kontakt</a>
				</p>
				<p>Bulme_memes &copy; 2018</p>
			</div>
	</footer>
        <script type="text/javascript" src="/lib/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/javascript/main.js"></script>
    </body>
</html>
