<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="<%= currentLanguage %>">
    <head>
        <%- include("meta"); -%>
        <link rel="stylesheet" href="/css/global.css">
    </head>
    <body>
        <head>
			    <div class="topnav">
				<a href="https://www.instagram.com/bulme_memes/">Instagram</a>
  				<a href="news">Newsticker</a>
  				<a href="contact">Kontakt</a>
  				<a class="active" href="">Home</a>
  				<b href="#Bulme_memes">Bulme_memes&copy; Merch</b>
			</div>
		</header>
