<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="<%= currentLanguage %>">
    <head>
        <%- include("meta"); -%>
        <link rel="stylesheet" href="/css/global.css">
    </head>
    <body>
        <head>
			    <div class="topnav">
  				<a href="#home">Flaschenöffner</a>
  				<a href="#news">Shirts</a>
  				<a href="#contact">Pullover</a>
  				<a class="active" href="#about">Home</a>
  				<b href="#Bulme_memes">Bulme_memes&copy; Merch</b>
			</div>
		</header>
