<%- include("global/header"); -%>
<main>
    <div>

        <h1 data-heading="Magic">
            <span contenteditable data-heading="Magic">Magic</span>
        </h1>
    
    </div>
</main>
<%- include("global/footer"); -%>
