<%- include("global/header"); -%>
        <main>
            <div class="TitleMain">
                 Der Bulme_memes&copy; Shop öffnet in: <p id="demo"></p>
            </div>

            <div class="Video">
                <video autoplay loop id="SchuleVid" width="100%" height="50%">
                    <source src="/vid/video.mp4" type="video/mp4">
                </video>
            </div>
        </main>
<%- include("global/footer"); -%>


