<%- include("global/header"); -%>
        <main>
            <div class="glitch" data-text="Strobocops">
                    <span class="glitch__main">Bulme_memes</span>
            </div>
            <div class="TitleMain">
                 <p id="countdown"></p>
            </div>
            <button type="button">
                    <span>Vorschau</span>
            </button>
        </main>
<%- include("global/footer"); -%>


