<%- include("global/header"); -%>
        <main>
            <div class="TitleMain">
                 Der Bulme_memes&copy; Shop öffnet in: <p id="demo"></p>
            </div>
            <div class="MerchOverview">

TEEEEEEEEEEEEEEEEST
                
            </div>
        </main>
<%- include("global/footer"); -%>


