<%- include("global/header"); -%>
        <main>
            <div class="TitleMain">
                 Der Bulme_memes&copy; Shop öffnet in: 
                 <p id="demo"></p>
                    <br>
                    <br>
                    <br>
            </div>
            <div class="MerchOverview">
                <div class="column">
                    <img src="/img/shirt.jpg" alt="Snow" style="width:100%">
                  </div>
                  <div class="column">
                    <img src="/img/pullover.jpg" alt="Forest" style="width:100%">
                  </div>
                  <div class="column">
                    <img src="/img/oeffner.jpg" alt="Mountains" style="width:100%">
                  </div>
            </div>
        </main>
<%- include("global/footer"); -%>


